<table class="striped">
  <thead>
    <tr>
      <th>
        <input
          type="checkbox"
          readOnly
          (change)="selectAll($event)"
        />
      </th>
      <ng-container *ngFor="let thWidth of fixColumnWidth; index as i">
        <th [width]="thWidth">{{tableColIndex[i][1]}}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody
    #tbodyRef
    [style.display]="data.length > 0 ? 'block' : 'table'"
    [style.height]="maxBodyHeight === 0 ? 'auto' : maxBodyHeight + 'px'"
  >
    <ng-container *ngIf="data.length > 0; else elseTemplate">
      <tr
        #rowsRef
        *ngFor="let trItem of data as list; index as rowIndex"
        [ngClass]="{selected: selectedRowItems.has(rowIndex)}"
      >

        <td>
          <input
            type="checkbox"
            [checked]="selectedRowItems.has(rowIndex)"
            (change)="selectRow($event, rowIndex)"
          />
        </td>
        <td
          [width]="fixColumnWidth[tdIndex]"
          *ngFor="let tdIndexName of tableColIndex; index as tdIndex"
        >
          <!-- {{trItem[tdIndexName[0])}} -->
          <app-input
            *ngIf="trItem[tdIndexName[0]]"
            [val]="trItem[tdIndexName[0]]"
            [isInput]="false"
          ></app-input>
        </td>

      </tr>
    </ng-container>
    <ng-template #elseTemplate>
      <tr>
        <td
          colSpan="7"
          class="empty-data"
        >
          noData
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
