<div [ngClass]="[prefix]">
  <div class="table-toolbar">
    <div class="table-action">
      <app-button
        type="primary"
        [round]="true"
        (click)="fetchData()"
      >
        Add
      </app-button>
      <app-button
        type="primary"
        [round]="true"
      >
        Edit
      </app-button>
      <app-button
        [round]="true"
        type="primary"
      >
        Update
      </app-button>
      <app-button
        type="danger"
        [round]="true"
      >
        Delete
      </app-button>
    </div>

    <div class="language-switcher">
      <app-button
        type="default"
        size="small"
      >
        English
      </app-button>
      <app-button
        type="default"
        size="small"
      >
        Chinese
      </app-button>
    </div>
  </div>

  <table class="striped">
    <thead>
      <tr>
        <th>
          <input
            type="checkbox"
            readOnly
          />
        </th>
        <ng-container *ngFor="let thWidth of fixColumnWidth; index as i">
          <th [width]="thWidth">{{tableColIndex[i][1]}}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody style="display:table">
      <tr *ngFor="let trItem of $$datatable | async as list">

        <td>
          <input type="checkbox" />
        </td>
        <td
          width="{{fixColumnWidth[i]}}"
          *ngFor="let tdIndexName of tableColIndex; index as i"
        >

          <app-input
            *ngIf="trItem[tdIndexName[0]]"
            val="{{trItem[tdIndexName[0]]}}"
            [isInput]="false"
          ></app-input>
        </td>

      </tr>
      <!-- <tr>
        <td
          colSpan="7"
          class="empty-data"
        >
          noData
        </td>
      </tr> -->

    </tbody>
  </table>
  <div class="loading-mask">
    <app-loading></app-loading>
  </div>
</div>
