<div [ngClass]="[prefix]">

  <ng-content select="[toolbar]"></ng-content>
  <table class="striped">
    <thead>
      <tr>
        <th>
          <input
            type="checkbox"
            readOnly
          />
        </th>
        <ng-container *ngFor="let thWidth of fixColumnWidth; index as i">
          <th [width]="thWidth">{{tableColIndex[i][1]}}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody style="display:table">
      <tr *ngFor="let trItem of data | async as list">

        <td>
          <input type="checkbox" />
        </td>
        <td
          [width]="fixColumnWidth[i]"
          *ngFor="let tdIndexName of tableColIndex; index as i"
        >

          <app-input
            *ngIf="trItem[tdIndexName[0]]"
            [val]="trItem[tdIndexName[0]]"
            [isInput]="false"
          ></app-input>
        </td>

      </tr>
      <!-- <tr>
        <td
          colSpan="7"
          class="empty-data"
        >
          noData
        </td>
      </tr> -->

    </tbody>
  </table>
  <ng-content select="[loading]"></ng-content>

</div>
