<app-datatable-container #datatableContainer>
  <app-datatable-toolbar>
    <div class="table-action">
      <app-button
        type="primary"
        [round]="true"
        [disabled]="!canAdd"
        (click)="addNewAddress()"
      >
        Add
      </app-button>
      <app-button
        type="primary"
        [round]="true"
        [disabled]="!canEdit"
      >
        Edit
      </app-button>
      <app-button
        [round]="true"
        [disabled]="!canUpdate"
        type="primary"
      >
        Update
      </app-button>
      <app-button
        type="danger"
        [disabled]="!canDelete"
        [round]="true"
        (click)="deleteAddress()"
      >
        Delete
      </app-button>
    </div>

    <div class="language-switcher">
      <app-button
        type="default"
        size="small"
      >
        English
      </app-button>
      <app-button
        type="default"
        size="small"
      >
        Chinese
      </app-button>
    </div>
  </app-datatable-toolbar>
  <app-datatable
    [fixColumnWidth]="['5%','20%','18%','15%','20%','20%']"
    [tableColIndex]="tableColIndex"
    [data]="data | async"
    (selectChanged)="selectItem($event)"
  >
    <app-datatable-row *ngFor="let trItem of (data | async) as list; index as rowIndex">
      <app-datatable-td *ngFor="let tdIndexName of tableColIndex; index as tdIndex">
        <app-input
          *ngIf="trItem[tdIndexName[0]]"
          [val]="trItem[tdIndexName[0]]"
          [isInput]="false"
        ></app-input>
      </app-datatable-td>
    </app-datatable-row>
  </app-datatable>
</app-datatable-container>
<app-dialog
  [isOpen]="isOpen$ | async"
  [title]="'Add New Address'"
  (onClose)="handleDialogClose()"
  #dialog
>
  <app-dialog-content>
    <app-add-address-form
      (onCancel)="dialog.close()"
      (onSubmitSuccess)="handleAddSuccess()"
    ></app-add-address-form>
  </app-dialog-content>
</app-dialog>
