<app-datatable-container #datatableContainer>
  <app-datatable-toolbar>
    <div class="table-action">
      <app-button
        type="primary"
        [round]="true"
        [disabled]="!canAdd"
        (mousedown)="addNewAddress()"
      >
        Add
      </app-button>
      <app-button
        type="primary"
        [round]="true"
        [highlight]="canEdit"
        [disabled]="!canEdit"
        (mousedown)="updateSelectEditItem()"
      >
        Edit
      </app-button>
      <app-button
        type="primary"
        [round]="true"
        [highlight]="canUpdate"
        [disabled]="!canUpdate"
        (mousedown)="saveUpdateItem()"
      >
        Update
      </app-button>
      <app-button
        type="danger"
        [highlight]="canDelete"
        [disabled]="!canDelete"
        [round]="true"
        (mousedown)="showDeleteConfirm()"
      >
        Delete
      </app-button>
    </div>

    <div class="language-switcher">
      <app-button
        type="default"
        size="small"
      >
        English
      </app-button>
      <app-button
        type="default"
        size="small"
      >
        Chinese
      </app-button>
    </div>
  </app-datatable-toolbar>
  <app-datatable
    [fixColumnWidth]="['5%','20%','18%','15%','20%','20%']"
    [tableColIndex]="tableColIndex"
    [data]="data$ | async"
    [canSort]="canSort"
    (selectChanged)="selectRowItem($event)"
  >
    <app-datatable-row *ngFor="let trItem of (data$ | async) as list; index as rowIndex">
      <app-datatable-td *ngFor="let tdIndexName of tableColIndex; index as tdIndex">
        <app-input
          #inputEl
          *ngIf="trItem[tdIndexName[0]]"
          [val]="trItem[tdIndexName[0]]"
          [disabled]="tdIndex === 0"
          [isInput]="(updateItem$ | async) && updateItem$.value && (updateItem$.value.updateItemIndex === rowIndex) && (updateItem$.value.editColumnKey === tdIndexName[0])"
          (onPlaceholderClick)="selectEditItem($event, { inputEl: inputEl ,updateItemId: trItem['id'], updateItemIndex: rowIndex, editColumnKey: tdIndexName[0], originalValue: trItem[tdIndexName[0]] })"
          (onPlaceHolderBlur)="clearEditItem()"
          (onPlaceholderDoubleClick)="doubleClickEditItem($event, { inputEl: inputEl, updateItemId: trItem['id'], updateItemIndex: rowIndex, editColumnKey: tdIndexName[0], originalValue: trItem[tdIndexName[0]] })"
          (onInputBlur)="cancelUpdate()"
          (onValueChange)="handleInputValueChange($event)"
        ></app-input>
      </app-datatable-td>
    </app-datatable-row>
  </app-datatable>
</app-datatable-container>
<app-dialog
  [isOpen]="isOpen$ | async"
  [title]="'Add New Address'"
  (onClose)="handleDialogClose()"
  #dialog
>
  <div class="dialog-content">
    <app-add-address-form
      (onCancel)="dialog.close()"
      (onSubmitSuccess)="handleAddAddressSuccess()"
    ></app-add-address-form>
  </div>
</app-dialog>
<app-confirm
  [isLoading]="isDeleteLoading"
  [isOpen]="isDeleteConfirmOpen"
  [title]="'Delete Confirmation'"
  [message]="'Do you want delele the items with id: [' + selectedIds.join(',') + ']?'"
  (onConfirm)="handleDeleteConfirm()"
  (onCancel)="handleDeleteCancel()"
>
</app-confirm>
