<!-- <app-button
  [type]="'danger'"
  [size]="'big'"
  [round]="true"
>First Test</app-button>
<app-button
  [size]="'big'"
  [round]="true"
>First Test</app-button>
<app-button
  [type]="'primary'"
  [size]="'small'"
  [highlight]="true"
>First Test</app-button> -->

<!-- <app-input
  val="Jason Zhang"
  [isInput]="isInput"
  (onPlaceholderClick)="test($event)"
></app-input> -->

<!-- <app-icon></app-icon>
<app-loading></app-loading> -->

<div class="app">
  <router-outlet></router-outlet>
</div>
