/* You can add global styles to this file, and also import other style files */
@import '../node_modules/normalize.css/normalize.css';

@import "./app/common/scss/variable.scss";

body {
  background-color: $bgColor;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
}

.app {
  padding: 20px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  input {
    font-size: $normalFontsize;
    box-sizing: border-box;
    border: 1px solid $borderGray;
    padding: 6px 8px;
    outline: 0;
    transition: all ease-in-out .2s;
  }
}

.form-item {
  // display: flex;
  // justify-content: center;
  label {
    display: inline-block;
    width: 80px;
    text-align: right;
    padding-right: 5px;
  }
  margin-top: 15px;
}

.form-error {
  color: $dangerColor;
  padding-left: 80px;
  text-align: left;
  margin-top: 5px;
}

.ng-valid[required],
.ng-valid.required {
  border: 1px solid #42a948; /* green */
}
.ng-invalid:not(form) {
  &.ng-touched {
    border: 1px solid $dangerColor; /* red */
  }
}
