/* You can add global styles to this file, and also import other style files */
@import '../node_modules/normalize.css/normalize.css';

@import "./app/common/scss/variable.scss";

body {
  background-color: $bgColor;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
}

.app {
  padding: 20px;
}
